html {
  --primary-colour: #44d62c;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

#container {
  position: absolute;
  top: 64px;
  bottom: 50px;
  height: calc(100% - 114px);
  width: 100%;
  overflow-x: hidden;
}

main {
  overflow-x: auto;
  padding: 24px 0;
  width: 100%;
  /* height: calc(100% - 114px); */
}

h1 {
  font-size: 24px;
  margin: 0px;
}

h2 {
  font-size: 20px;
  margin: 2px;
}

h4 {
  margin: 0;
  text-align: center;
}

.centered {
  margin: 0 auto;
}

.centreSpan {
  margin: 0 auto;
}

.linkText {
  color: rgb(0, 100, 255);
  margin: 0;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-radius: 4px 4px 0 0;
  border-width: 1px 1px 0 1px;
}

table {
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0px;
  max-width: 100%;
}

td,
th {
  border-bottom: 0.5px solid rgba(90, 90, 90, 0.4);
}

th {
  text-align: left;
}

tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.estimateOverview > tbody > tr:nth-child(even):not(.selectedRow) {
  background-color: rgba(0, 0, 0, 0.03);
}

tbody > tr.selectedRow {
  background-color: rgba(68, 214, 44, 0.08);
}

tbody > tr:hover > td > input,
tbody > tr:hover > td > select,
tbody > tr.selectedRow > td > input,
tbody > tr.selectedRow > td > select {
  background-color: transparent;
}

tr.EmptyTableData:hover {
  background-color: transparent;
}

.EmptyTableData {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
}

.fileUpload {
  border: 1px solid #292626;
  padding: 25px;
  width: 400px;
  display: block;
  margin: 0 auto;
}

.subHeader {
  font-weight: bold;
}

.subheader-with-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subheader-with-options a:hover {
  color: rgb(0, 0, 0);
}

.bill-upload-options-container {
  margin-bottom: 10px;
}

/* Input Text Field */
.inputBox {
  position: relative;
  display: inline-block;
  min-width: 50px;
  margin-top: 24px;
}

/* Input Text Field */
.no-margin {
  margin: 0px;
}
.locked-estimate-line {
  margin: 7.5px 0;
}

.inputField {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  width: 250px;
  max-width: 100%;
  padding: 6px 2px 6px 2px;
  border: none;
  border-bottom: 1px solid #767676;
}

/* InputBox Width Styles */
.fullWidth {
  width: 100%;
}
.width125 {
  width: 125px;
}
.width150 {
  width: 150px;
}
.width175 {
  width: 175px;
}
.width200 {
  width: 200px;
}
.width300 {
  width: 300px;
}
.width400 {
  width: 400px;
}
.width500 {
  width: 500px;
}
.width600 {
  width: 600px;
}
.width750 {
  width: 750px;
}
.width800 {
  width: 800px;
}
.width1000 {
  width: 1000px;
}

.halfWidth {
  width: 125px;
}
.wideInput {
  width: 750px;
}

textarea.resizeable {
  min-height: 18.4px;
  height: 18.4px;
}

.inputField[type="date"],
.inputField[type="datetime-local"] {
  padding: 8px 2px 5px 2px;
}

.inputField:focus {
  outline: none;
  border-bottom: 1px solid #44d62c;
}

input:focus ~ .floating-label {
  color: #44d62c;
}

.inputField[type="date"] ~ .floating-label,
.inputField[type="datetime-local"] ~ .floating-label,
.inputField:focus ~ .floating-label,
.inputField:not(:focus):disabled ~ .floating-label,
.inputField:not(:focus):not(:placeholder-shown) ~ .floating-label {
  top: -16px;
  bottom: 0px;
  left: 2px;
  font-size: 12px;
  opacity: 1;
}

.inputFieldError {
  border-color: red !important;
  color: red !important;
}

.floating-label {
  top: -10px;
  bottom: 0px;
  left: 2px;
  font-size: 16px;
  opacity: 1;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  color: #767676;
}

.tableControl {
  padding: 0;
}

.estimateTableInput {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  width: calc(100% - 12px);
  display: block;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #767676;
  border-radius: 4px;
}

select.estimateTableInput {
  width: 100%;
}

.table {
    margin: 0 auto; 
    padding: 10px 0;
}

.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.dataTableInput {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  width: calc(100% - 14px);
  display: block;
  margin: 0 auto;
  border: 1px solid #767676;
  padding: 5px;
  border-radius: 3px;
}

.globalSearch {  
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  height: 10px;
  width: calc(100% - 4px);
  display: block;
  margin: 0 auto;
  padding: 5px 3px;
}

.dateFilter {
  height: 10px;
  width: calc(100% - 4px);
  display: block;
  margin: 2px auto;
  padding: 5px 3px;
  border: 1px solid #767676;
  border-radius: 2px;
}


.globalSearch::placeholder  {
  color: black
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 14px;
  background-color: rgba(85, 85, 85, 0.85);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  pointer-events: none;

  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width to center the tooltip */
}

/* Tooltip Arrow */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(85, 85, 85, 0.85) transparent transparent transparent;
}

.tooltip .tooltiptext.right {
  visibility: hidden;
  font-size: 14px;
  background-color: rgba(85, 85, 85, 0.85);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  pointer-events: none;

  width: 120px;
  bottom: 100%;
  left: -100%;
  margin-left: -60px; /* Use half of the width to center the tooltip */
}
/* Tooltip Arrow */
.tooltip .tooltiptext.right::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 85%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(85, 85, 85, 0.85) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media only screen and (max-width: 1050px) {
  .inputBox {
    max-width: 95%;
  }

}

@media only screen and (max-width: 800px) {
  .inputField[type="date"],
  .inputField[type="datetime-local"] {
    border-radius: 0;
    background-color: transparent;
    padding: 6px 2px;
    text-align: left;
  }
  .inputField::-webkit-date-and-time-value {
    text-align: left;
  }

  .inputField[type="date"]:not(:valid),
  .inputField[type="datetime-local"]:not(:valid) {
    border-radius: 0;
    background-color: transparent;
    padding: 8px 2px 10px 2px;
  }

  select.inputField {
    border-radius: 0;
    background-color: transparent;
  }

  textarea.inputField,
  .inputField[type="text"],
  .inputField[type="number"] {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    border-radius: 0;
  }

  .inputBox {
    max-width: 250px;
  }
}

.progress-button {
  display: inline-block;
  position: 'relative';
  margin: 0;
}

.progress-button.centered {
  margin: 0 auto;
}

.dialogTitle {
  width: 95%;
  padding: 10px 0px 0px;
  margin: 0 auto;
}

.custom-dialog-actions {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

/* Clickable Links */
a {
  color: rgb(75, 75, 75);
  font-size: 14px;
}

/* Budget Text Colour */
.withinBudget {
  color: #1d870d;
}
.overBudget {
  color: red;
}

.stepper-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

/* || Stepper */
.stepper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px auto 10px auto;
  width: 70%
}

.stepper-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;

  --size: 15px;
  --spacing: 4px;
  --line-height: 1px;
}

/* Circle */
.stepper-item::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin: 0 auto;
  background-color: rgb(225, 225, 225);
}
/* Line */
.stepper-item:not(:last-child)::after {
  content: "";
  position: relative;
  height: var(--line-height);
  width: calc(100% - var(--size) - calc(var(--spacing) * 2));
  top: calc(var(--size) / 2);
  left: calc(50% + calc(var(--size) / 2 + var(--spacing)));
  background-color: #e0e0e0;
  order: -1;
}

/* Completed */
.stepper-item.complete::after {
  background-color: var(--primary-colour);
}
.stepper-item.complete::before {
  content: "✓";
  color: white;
  font-size: calc(var(--size) * 0.75);
  font-weight: bold;
  background-color: var(--primary-colour);
}

/* Active */
.stepper-item.active::before {
  background-color: var(--primary-colour);
}

/* Content Div */
.stepper-content {
  width: 98%;
  height: calc(100% - 150px);
  margin-bottom: 1%;
}

.stepper-control {
  display: flex;
  justify-content: center;
}

/* Title */
.stepper-title {
  font-weight: bold;
  font-size: 1rem;
  margin: 6px;
  margin-top: 10px;
}
/* Description */
.stepper-desc {
  color: grey;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.stepper-button {
  width: 100px;
  height: 30px;
  margin: 0 5px;
}

.flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* || Wizard */

.wizard-content {
  height: 100%;
}

.wizard-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.wiz-button{
    width: 132px;
    height: 132px;
    padding: 0;
    border: 0;
}
.wiz-button img{
    width: 128px;
    height: 128px;
    border: 2px solid #292626;
    /* box-shadow: #292626; */
}


.accounts-table > * > * > *{
  padding: 5px 10px;
  font-size: 16px;
}

/* || PDF Preview */

.pdf-preview {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 700px;
  border: 1px solid black;
}

.pdf-preview-large {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 1000px;
  border: 1px solid black;
}

.pdf-img {
  max-width: 600px;
}

/* || Accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  font-size: 20px;
}

.accordion-panel {
  padding: 0 18px;
  width: 100%;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-in-out;
}

.accordion-active, .accordion:hover {
  background-color: #ccc;
}

.editableSection {
  border: 1px solid #292626;
  border-radius: 2px;
  width: 100%;
  text-align: left;

  margin: 2px;
}

.FileIconLink:hover {
  color: black;
}

.FileIconDiv {
  margin: 15px 0px 0px 0px;
  text-align: center;
}

.FileIcon {
  transform: scale(3);
}

.FileIconText {
  font-size: 12px;
}

.formReviewContainer {
  display: flex;
  justify-content: center;
}

.center-loading {
  display: flex;
  flex-direction: column;
  align-items: center
}

.button {
  width: 128px;
  height: 32px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.grid-item {
  display: flex;

}